<div class="content">
	<div class="card card-settings no-border" >
	    <form ng-controller="settingsCtrl" method="post">
	        <input ng-model="settings.login" type="text" id="settingsLogin" placeholder="login">
	        <input ng-model="settings.password" type="password" id="settingsPassword" placeholder="password">
	        <input ng-model="settings.server" type="text" class="small-placeholder" id="settingsServer" placeholder="wss://fs1.gbc.fi:8082">
	        <input ng-model="settings.cidName" type="text"  placeholder="Name">
	        <input ng-model="settings.cidNumber" type="text" placeholder="CID Number">
					<input ng-model="settings.email" type="text" placeholder="Zendesk user email">
					<input ng-model="settings.zenurl" type="text" placeholder="Zendesk domain">
					<input ng-model="settings.API" type="text" placeholder="Zendesk api key">


			<li class="table-view-cell">
				Use STUN
				<div ui-toggle ng-model="settings.iceServers"></div>
			</li>

			<li class="table-view-cell">
				Notify new call
				<div ui-toggle ng-model="settings.notificationNewCall"></div>
			</li>

			<li class="table-view-cell">
				Notify missed call
				<div ui-toggle ng-model="settings.notificationMissed"></div>
			</li>

			<li class="table-view-cell">
				Ring! Ring!
				<div ui-toggle ng-model="settings.ring"></div>
			</li>

			<li class="table-view-cell">
				Always on top
				<div ui-toggle ng-model="settings.alwaysOnTop"></div>
			</li>

			<div class="form-group">
				<span class="ion-ios-mic"></span>
				<select ng-model="settings.selectedAudio" ng-options="item.id as item.label for item in devices.audioInDevices">
				</select>
			</div>


			<div class="form-group">
				<span class="ion-ios-volume-high"></span>
				<select ng-model="settings.selectedSpeaker" ng-options="item.id as item.label for item in devices.audioOutDevices">
				</select>
			</div>

			<div class="form-group" ng-show="settings.useVideo">
				<span class="ion-ios-camera"></span>
				<select ng-model="settings.selectedVideo" ng-options="item.id as item.label for item in devices.videoDevices">
				</select>
			</div>

	        <button ng-click="saveSettings()" type="submit" class="btn btn-positive">Save</button>
	    </form>
	</div>
</div>
